body{
	background-image : url("ImageConclusion.jpg");
	background-size : cover ;
}

h1{
	font-family : Arial ;
	color : red ;
	margin-left : 20px ;
	text-align : center ;
	font-size : 300%;
	
}
h2{
	font-family : arial ;
	color : white ; 
	font-size : 150% ;
}