body {
    margin: 0;
    padding: 0;
    background-color: rgb(53, 115, 138);
    background-size: cover;
    
}

.liste {
    background-color: lightblue;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
}



.navbar li {
    display: inline-block;
    text-decoration: none;
    margin-right: 50px;
    font-size: 15px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.navbar ul li:hover {
    padding: 5px; /* Optionnel: pour ajouter un peu d'espace autour du texte */
    text-decoration: underline white;
}

.Home {
    padding: 50px; /* Espace intérieur autour de tout le contenu dans Home */
}

.Home h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-size: 36px;
    margin: 0; /* Assure que le titre n'a pas de marge supplémentaire */
}

.Portfolio {
    font-size: 40px;
}

a {
    text-decoration: none;
    color: black;
}
.Titre {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}
.Texte{
    font-size: 26px;
    color : white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.ImageSiteMarchand img{
    width: 50%; /* Ajuste la largeur de l'image au conteneur */
    height: auto; /* Hauteur automatique pour conserver les proportions */
    border-radius: 8px; /* Coins arrondis (optionnel) */
}