body{
	background-image : url("ImageAccueil.jpg");
	background-size : cover

}
h1{
	font-family : Arial;
	text-decoration: underline ;
	text-align : top ;
	color : white ;
	
}
h3{
	font-family : arial;
	color : white;
	font-size : 150% ;
	
	 
}
h2{
	text-align : center ;	
	color : red ;
	text-decoration : none ;
}
